<a href="https://colab.research.google.com/github/kalpanab-psg/Exploratory-Data-Analysis/blob/master/EDA_dtale_library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
!pip install -U dtale

Requirement already up-to-date: dtale in /usr/local/lib/python3.6/dist-packages (1.15.2)
Requirement already satisfied, skipping upgrade: dash-colorscales in /usr/local/lib/python3.6/dist-packages (from dtale) (0.0.4)
Requirement already satisfied, skipping upgrade: squarify in /usr/local/lib/python3.6/dist-packages (from dtale) (0.4.3)
Requirement already satisfied, skipping upgrade: Flask-Compress in /usr/local/lib/python3.6/dist-packages (from dtale) (1.5.0)
Requirement already satisfied, skipping upgrade: pandas in /usr/local/lib/python3.6/dist-packages (from dtale) (1.1.2)
Requirement already satisfied, skipping upgrade: dash>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from dtale) (1.16.2)
Requirement already satisfied, skipping upgrade: statsmodels in /usr/local/lib/python3.6/dist-packages (from dtale) (0.10.2)
Requirement already satisfied, skipping upgrade: scikit-learn>='0.21.0 in /usr/local/lib/python3.6/dist-packages (from dtale) (0.22.2.post1)
Requirement already satisfied, skipping upgrade: flask-ngrok; python_version > "3.0" in /usr/local/lib/python3.6/dist-packages (from dtale) (0.0.25)
Requirement already satisfied, skipping upgrade: scipy in /usr/local/lib/python3.6/dist-packages (from dtale) (1.4.1)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from dtale) (1.15.0)
Requirement already satisfied, skipping upgrade: future>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from dtale) (0.16.0)
Requirement already satisfied, skipping upgrade: itsdangerous in /usr/local/lib/python3.6/dist-packages (from dtale) (1.1.0)
Requirement already satisfied, skipping upgrade: lz4; python_version > "3.0" in /usr/local/lib/python3.6/dist-packages (from dtale) (3.1.0)
Requirement already satisfied, skipping upgrade: dash-bootstrap-components; python_version > "3.0" in /usr/local/lib/python3.6/dist-packages (from dtale) (0.10.6)
Requirement already satisfied, skipping upgrade: Flask>=1.0 in /usr/local/lib/python3.6/dist-packages (from dtale) (1.1.2)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from dtale) (2.23.0)
Requirement already satisfied, skipping upgrade: xarray in /usr/local/lib/python3.6/dist-packages (from dtale) (0.15.1)
Requirement already satisfied, skipping upgrade: dash-daq in /usr/local/lib/python3.6/dist-packages (from dtale) (0.5.0)
Requirement already satisfied, skipping upgrade: brotli in /usr/local/lib/python3.6/dist-packages (from Flask-Compress->dtale) (1.0.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->dtale) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->dtale) (2018.9)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas->dtale) (1.18.5)
Requirement already satisfied, skipping upgrade: dash-table==4.10.1 in /usr/local/lib/python3.6/dist-packages (from dash>=1.5.0->dtale) (4.10.1)
Requirement already satisfied, skipping upgrade: dash-renderer==1.8.2 in /usr/local/lib/python3.6/dist-packages (from dash>=1.5.0->dtale) (1.8.2)
Requirement already satisfied, skipping upgrade: dash-html-components==1.1.1 in /usr/local/lib/python3.6/dist-packages (from dash>=1.5.0->dtale) (1.1.1)
Requirement already satisfied, skipping upgrade: plotly in /usr/local/lib/python3.6/dist-packages (from dash>=1.5.0->dtale) (4.4.1)
Requirement already satisfied, skipping upgrade: dash-core-components==1.12.1 in /usr/local/lib/python3.6/dist-packages (from dash>=1.5.0->dtale) (1.12.1)
Requirement already satisfied, skipping upgrade: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels->dtale) (0.5.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>='0.21.0->dtale) (0.16.0)
Requirement already satisfied, skipping upgrade: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=1.0->dtale) (2.11.2)
Requirement already satisfied, skipping upgrade: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from Flask>=1.0->dtale) (1.0.1)
Requirement already satisfied, skipping upgrade: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=1.0->dtale) (7.1.2)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->dtale) (2.10)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->dtale) (1.24.3)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->dtale) (2020.6.20)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->dtale) (3.0.4)
Requirement already satisfied, skipping upgrade: setuptools>=41.2 in /usr/local/lib/python3.6/dist-packages (from xarray->dtale) (50.3.0)
Requirement already satisfied, skipping upgrade: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->dash>=1.5.0->dtale) (1.3.3)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10.1->Flask>=1.0->dtale) (1.1.1)

In [23]:
import pandas as pd
import seaborn as sns

In [29]:
import dtale
#this is required if you use colab. in local machine no need ngrok
import dtale.app as dtale_app
dtale_app.USE_NGROK=True

In [30]:

sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [31]:
df= sns.load_dataset('iris')

In [32]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [33]:
df.value_counts('species')

species
virginica     50
versicolor    50
setosa        50
dtype: int64

In [34]:
dtale.show(df, ignore_duplicate=True)

http://5f61af058919.ngrok.io/dtale/main/4

In [35]:
dtale.instances()

To gain access to an instance object simply pass the value from 'ID' to dtale.get_instance(ID)

ID Name                                        URL
 1       http://5f61af058919.ngrok.io/dtale/main/1
 2       http://5f61af058919.ngrok.io/dtale/main/2
 3       http://5f61af058919.ngrok.io/dtale/main/3
 4       http://5f61af058919.ngrok.io/dtale/main/4

In [37]:
dtale.get_instance(1).kill()

Executing shutdown...
Executing shutdown...

2020-10-01 06:58:00,055 - INFO     - Executing shutdown...

In [38]:
dtale.instances()

currently no running instances...